body, header, nav, ul, li, div, footer {
    margin: 0;
    padding: 0;
}

#wrapper {
    margin: 0 auto;
    font-family: 'Comfortaa', cursive, sans-serif;
    font-size: 1em;
    box-sizing: border-box;
}

header, footer {
    color: #2b1313;
    background-color: #f4825f;
    height: 55px;
    box-sizing: border-box;
}

    nav {
        margin: 0px auto;
        width: 100%;
        position: absolute;
    }

    nav > ul {
        position: relative;
        margin-top: 0px;
        padding-top: 0.5%;
        width: 100%;
        list-style: none;
    }

    .logo {
        float: left;
    }

    nav > ul > li {
        height: 100%;
        margin: 0;
        padding: 0%;
        display: inline;
    }

    .menu {
        margin-left: 15%;
    }

    .login {
        margin-left: 15%;
    }

    nav > ul > li > a {
        padding: 1% 2%;
        text-decoration: none;
        color: #2b1313;
        font-size: 1.3em;
    }

    nav > ul > li:hover a {
        color: #f4825f;
        background-color: #fff;
        text-decoration: none;
        border-radius: 20px;
    }

    nav > ul > li:active a {
        color: #fff;
        background-color: #f4825f;
        text-decoration: none;
        border-radius: 20px;
    }

    nav > ul > li > a:focus {
        color: #fff;
        text-decoration: none;
    }


nav > ul > li:hover > a:focus {
    color: #fff;
    background-color: #000;
    text-decoration: none;
}

    nav > ul > li:visited a {
        color: #000;
        background-color: #f4825f;
        text-decoration: none;
    }

    #logo:hover a {
        background-color: #f4825f;
        text-decoration: none;
    }

    .login:hover a{
        color: #2b1313;
        background-color: #f4825f;
        text-decoration: underline;
    }

.container {
    padding-left: 0px;
    width: 101%;
    box-sizing: border-box;
}

#myCarousel {
    width: 100%;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
}

h3 {
    font-size: 2.5em;
    text-shadow: 2px 2px #000;
}

.carousel-caption{
    margin-bottom: 10%;
    font-size: 2em;
    text-shadow: 2px 2px #000;
}

section {
    display: inline-block;
    width: 100%;
    margin-top: 5%;
}

section > article {
    display: inline-block;
    width: 49%;
}

section > article div {
    display: inline-block;
    width: 49%;
    margin: 2%;
    vertical-align: bottom;
}

.icons img {
    border-radius: 50%;
    vertical-align: top;
    margin-left: 5%;
}

section > article div > h5 {
    font-size: 2em;
}

.icons a {
    display: inline-block;
    text-decoration: none;
    color: #2b1313;
}

.recipes {
    width: 100%;
    background-color: #99ff66;
}

.recipes > h5 {
    padding: 3% 45%;
    font-size: 2em;
    color: #2b1313;
}

.selected {
    display: inline-block;
    width: 100%;
}

.selected > article {
    display: inline-block;
    width: 32%;
    margin: 0 5px;
}

.selected > article h5 {
    font-size: 1.5em;
    color: #2b1313;
}

.selected > article img {
    width: 100%;
}

.selected > article p {
    color: #2b1313;
    display: -webkit-box;
    margin: 0 auto;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    height: 60px;/* Fallback for non-webkit */
}

.selected a:hover,
.selected > article > a:hover {
    text-decoration: none;
}

.buttons {
    margin-left: 22%;
    margin-bottom: 5%;
    width: 60%;
    box-sizing: border-box;
}
.btn {
    width: 30%;
    margin: 0.5%;
    color: #2b1313;
    font-size: 1em;
    border: 2px solid #f4825f;
    box-sizing: border-box;
}

.btn:hover {
    background-color: #f4825f;
}

main > section > a {
    width: 20%;
}

.imgs {
    width: 100%;
    margin-top: 0%;
    padding: 0%;
    display: inline-block;
}

.imgs > a {
    width: 24%;
    display: inline-block;
}

.img {
    width: 24%;
    margin: 3%;
    padding: 5%;
    display: inline-block;
}



footer > div {
    margin-top: 5%;
    padding: 1.5% 0 0 0.5%;
}